.link {
  cursor: pointer;
  position: relative;
  font-family: "Ubuntu", sans-serif;

  &::before {
    content: "";
    width: 0;
    background: currentColor;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: width 0.3s ease, left 0.3s ease;
  }

  &:hover::before {
    width: 100%;
    left: 0;
  }

  &--menu {
    color: var(--very-dark-black-blue);
    &:hover {
      font-weight: bold;
    }
    &::before {
      display: none;
    }
  }
  &--mobile {
    color: var(--very-dark-blue);
    font-weight: bold;
    &::before {
      display: none;
    }
  }
}

.link-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 8.625rem;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  padding: 0.8rem 0;
  border-radius: 100px;
  transition: background 0.3s ease;
  font-weight: 700;
  background: var(--white);
  color: var(--very-light-red);
  &:hover {
    background: var(--very-light-red);
    color: var(--white);
  }
  &--reverse {
    background: none;
    border: 1px solid var(--white);
    color: var(--white);
    &:hover {
      background: var(--white);
      color: var(--very-light-red);
    }
  }
  &--mobile {
    background: linear-gradient(to right, var(--bg-very-light-red), var(--bg-light-red));
    color: var(--wihte);
  }
}

.links-wrapper {
  position: relative;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
