.article__title {
  margin-bottom: 2.25rem;
  font-size: 1.7rem;
  color: var(--very-dark-blue);
  &--white {
    color: var(--white);
  }
}

.article__text {
  letter-spacing: 0.034375rem;
  line-height: 1.7;
  &--white {
    color: var(--white);
  }
}

.title {
  font-size: 2.3rem;
  letter-spacing: -1px;
}

@media only screen and (max-width: 1020px) {
  .title {
    font-size: 1.9rem;
  }

  .article__title {
    font-size: 1.9rem;
    margin-bottom: 1.625rem;
    &--white {
      font-size: 2.6rem;
    }
  }
}
