.article__title {
  margin-bottom: 2.25rem;
  font-size: 1.7rem;
  color: var(--very-dark-blue);
  &--white {
    color: var(--white);
  }
}

.article__text {
  letter-spacing: 0.034375rem;
  line-height: 1.7;
  &--white {
    color: var(--white);
  }
}

.title {
  font-size: 2.3rem;
}
