@use 'variables';
@use './utilities/mixins';

.section__header {
    height: 37.5rem;
    position: relative;
    background: linear-gradient(to right, var(--bg-very-light-red), var(--bg-light-red));
    color: var(--white);
    border-bottom-left-radius: var(--b-radius);
    z-index: 1;
    overflow: hidden;
    &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3175' height='3174'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='.639%25' x2='99.361%25' y1='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23FF8F71'/%3E%3Cstop offset='100%25' stop-color='%23FF3E55'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23a)' fill-rule='evenodd' d='M1973.15 1193.185v788.41h-786.766v-688.41c0-55.228 44.772-100 100-100h686.767zm-1310.445-1.171c217.26 0 393.383 176.124 393.383 393.383v1.645c0 217.26-176.123 393.383-393.383 393.383S269.322 1804.3 269.322 1587.042v-1.645c0-217.26 176.124-393.383 393.383-393.383zm392.212-926.418v688.41c0 55.23-44.771 100-100 100H268.151v-788.41h786.766zm918.234 0v788.41h-686.767c-55.228 0-100-44.771-100-100v-688.41h786.767z' transform='rotate(22 162.072 2556.164)'/%3E%3C/svg%3E");
        @include mixins.pseudoImage;
        background-position: 26.5% 51%;
        background-size: 220%;
    }
}

.header {
    &__links {
        align-items: center;
        gap: 2rem;
        margin-left: 2rem;
    }
}

.nav {
    padding: 3.75rem 10.3125rem 0 10.3125rem;
    justify-content: space-between;
    align-items: center;
    &__links {
        gap: 2rem;
        align-items: center;
    }
}

.intro {
    padding-top: 9.375rem;
    text-align: center;
    &__title {
        font-size: 3.7rem;
        line-height: 1;
    }
    &__description {
        margin-top: 1.625rem;
        margin-bottom: 3.125rem;
        font-size: 1.2rem;
    }
    &__links {
        gap: 1rem;
        justify-content: center;
    }
}

.menu {
    gap: 4.06rem;
    &__col {
        gap: 1rem;
        position: absolute;
        width: 10.5rem;
        left: -1.5625rem;
        padding: 2.1875rem 1.5625rem;
        margin-top: 1.6875rem;
        background: var(--white);
        border-radius: 5px;
    }
}

.nav-mobile {
    display: none;
}

@media only screen and (max-width: 1020px) {
    .section__header {
        &::before {
            background-position: 25% 50%;
            background-size: 250%;
        }
    }
    .nav {
        display: none;
    }
    .nav-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3.125rem 1.3125rem 0 1.3125rem;
    }

    .intro {
        padding: 6.375rem 2.375rem 0 2.375rem;
        &__title {
            font-size: 2.1rem;
        }
    }
}

@media only screen and (max-width: 400px) {
    .section__header {
        &::before {
            background-position: 35% 30%;
            background-size: 350%;
        }
    }
}
