@use 'variables';

.section__header {
    height: 37.5rem;
    background: url("../../images/bg-pattern-intro.svg"),
        linear-gradient(to right, var(--bg-very-light-red), var(--bg-light-red));
    background-repeat: no-repeat;
    background-position: left;
    background-size: 180%;
    color: var(--white);
    border-bottom-left-radius: 5rem;
}

.header {
    &__links {
        align-items: center;
        gap: 2rem;
    }
}

.nav {
    padding: 3.75rem 10.3125rem 0 10.3125rem;
    justify-content: space-between;
    align-items: center;
    &__links {
        gap: 2rem;
        align-items: center;
    }
}

.intro {
    padding-top: 9.375rem;
    text-align: center;
    &__title {
        font-size: 3.7rem;
        line-height: 1;
    }
    &__description {
        margin-top: 1.625rem;
        margin-bottom: 3.125rem;
        font-size: 1.2rem;
    }
    &__links {
        gap: 1rem;
        justify-content: center;
    }
}

.menu {
    gap: 4.06rem;
}
