@use 'variables';
@forward 'header';
@forward './utilities/links';
@forward './utilities/icons';

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html,
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Ubuntu", sans-serif;
    font-family: "Overpass", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.l-flex {
    display: flex;
}

.l-col {
    flex-direction: column;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.hidden {
    display: none;
}
