@use 'variables';

// font-family: 'Overpass', sans-serif;
// font-family: 'Ubuntu', sans-serif;

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
