:root {
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
  --bg-very-light-red: hsl(13, 100%, 72%);
  --bg-light-red: hsl(353, 100%, 62%);
  --bg-very-dark-gray-blue: hsl(237, 17%, 21%);
  --bg-very-dark-des-blue: hsl(237, 23%, 32%);
  --b-radius: 5rem;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-family: "Overpass", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.l-flex {
  display: flex;
}

.l-col {
  flex-direction: column;
}

.l-grid {
  display: grid;
}

.hidden {
  display: none;
}

.company,
.product,
.connect {
  position: relative;
}

.attribution {
  color: var(--white);
  font-size: 0.7rem;
  text-align: center;
  flex: 1 1 100%;
  align-self: flex-end;
}

.attribution a {
  color: #3e52a3;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
               supported by Chrome, Edge, Opera and Firefox */
}

.section__header {
  height: 37.5rem;
  position: relative;
  background: linear-gradient(to right, var(--bg-very-light-red), var(--bg-light-red));
  color: var(--white);
  border-bottom-left-radius: var(--b-radius);
  z-index: 1;
}
.section__header::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3175' height='3174'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='.639%25' x2='99.361%25' y1='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23FF8F71'/%3E%3Cstop offset='100%25' stop-color='%23FF3E55'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23a)' fill-rule='evenodd' d='M1973.15 1193.185v788.41h-786.766v-688.41c0-55.228 44.772-100 100-100h686.767zm-1310.445-1.171c217.26 0 393.383 176.124 393.383 393.383v1.645c0 217.26-176.123 393.383-393.383 393.383S269.322 1804.3 269.322 1587.042v-1.645c0-217.26 176.124-393.383 393.383-393.383zm392.212-926.418v688.41c0 55.23-44.771 100-100 100H268.151v-788.41h786.766zm918.234 0v788.41h-686.767c-55.228 0-100-44.771-100-100v-688.41h786.767z' transform='rotate(22 162.072 2556.164)'/%3E%3C/svg%3E");
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  background-position: 26.5% 51%;
  background-size: 220%;
}

.header__links {
  align-items: center;
  gap: 2rem;
}

.nav {
  padding: 3.75rem 10.3125rem 0 10.3125rem;
  justify-content: space-between;
  align-items: center;
}
.nav__links {
  gap: 2rem;
  align-items: center;
}

.intro {
  padding-top: 9.375rem;
  text-align: center;
}
.intro__title {
  font-size: 3.7rem;
  line-height: 1;
}
.intro__description {
  margin-top: 1.625rem;
  margin-bottom: 3.125rem;
  font-size: 1.2rem;
}
.intro__links {
  gap: 1rem;
  justify-content: center;
}

.menu {
  gap: 4.06rem;
}
.menu__col {
  gap: 1rem;
  position: absolute;
  width: 10.5rem;
  left: -1.5625rem;
  padding: 2.1875rem 1.5625rem;
  margin-top: 1.6875rem;
  background: var(--white);
  border-radius: 5px;
}

.design {
  height: 63.125rem;
  position: relative;
  padding-bottom: 16.5625rem;
  overflow: hidden;
}
.design__title {
  padding-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
  color: var(--very-dark-blue);
}
.design__content {
  grid-template-columns: 1fr 1fr;
}
.design::before {
  background-image: url("data:image/svg+xml,%3Csvg width='925' height='882' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient x1='0%25' y1='27.881%25' x2='100%25' y2='72.119%25' id='c'%3E%3Cstop stop-color='%23FF8F71' offset='0%25'/%3E%3Cstop stop-color='%23FF3E55' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='0%25' y1='41.725%25' x2='100%25' y2='58.275%25' id='e'%3E%3Cstop stop-color='%23FF8F71' offset='0%25'/%3E%3Cstop stop-color='%23FF3E55' offset='100%25'/%3E%3C/linearGradient%3E%3Cfilter x='-10.9%25' y='-11.7%25' width='121.8%25' height='132.8%25' filterUnits='objectBoundingBox' id='b'%3E%3CfeOffset dy='20' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur stdDeviation='20' in='shadowOffsetOuter1' result='shadowBlurOuter1'/%3E%3CfeColorMatrix values='0 0 0 0 0.421821759 0 0 0 0 0.554338424 0 0 0 0 0.893710371 0 0 0 0.243444056 0' in='shadowBlurOuter1'/%3E%3C/filter%3E%3Crect id='a' x='0' y='0' width='642' height='427' rx='15'/%3E%3C/defs%3E%3Cg transform='translate(40)' fill='none' fill-rule='evenodd'%3E%3Crect fill='%232D2E40' opacity='.08' transform='matrix(1 0 0 -1 0 890)' x='145' y='144' width='600' height='602' rx='300'/%3E%3Crect stroke='%232D2E40' opacity='.5' transform='matrix(1 0 0 -1 0 882)' x='105.5' y='100.5' width='679' height='681' rx='339.5'/%3E%3Crect stroke='%232D2E40' opacity='.25' transform='matrix(1 0 0 -1 0 882)' x='5.5' y='.5' width='879' height='881' rx='439.5'/%3E%3Cg transform='translate(0 242)'%3E%3Cmask id='d' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cg fill-rule='nonzero'%3E%3Cuse fill='%23000' filter='url(%23b)' xlink:href='%23a'/%3E%3Cuse fill='url(%23c)' xlink:href='%23a'/%3E%3C/g%3E%3Cpath d='M3 125h636a3 3 0 013 3v296a3 3 0 01-3 3H3a3 3 0 01-3-3V128a3 3 0 013-3z' fill='%232D2E40' fill-rule='nonzero' mask='url(%23d)'/%3E%3Crect fill='%23FFF' fill-rule='nonzero' mask='url(%23d)' x='90.523' y='47.709' width='135.785' height='137.165' rx='3'/%3E%3Cellipse fill='%232D2E40' mask='url(%23d)' cx='158.416' cy='116.888' rx='39.306' ry='39.36'/%3E%3Crect fill='%23FFF' fill-rule='nonzero' mask='url(%23d)' x='248.939' y='47.709' width='302.538' height='325.617' rx='3'/%3E%3C/g%3E%3Cpath d='M209 284c47.125-73.367 81.977-113.013 104.557-118.938 33.87-8.886 23.765 83.14 72.535 72.473 48.77-10.666 54.716-103.974 91.603-108.37 36.887-4.397 56.402 80.946 72.515 88.81 10.742 5.241 24.005-6.094 39.79-34.007' stroke='url(%23e)' stroke-width='8' stroke-linecap='round' transform='translate(0 242)'/%3E%3C/g%3E%3C/svg%3E");
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: 63%;
  background-position: right center;
  left: 19.3%;
}

.article-wrapper--design {
  margin-left: 10.3125rem;
  gap: 5.375rem;
}

.phones {
  height: 25rem;
  position: relative;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  border-bottom-left-radius: var(--b-radius);
  border-top-right-radius: var(--b-radius);
  background: linear-gradient(to right, var(--bg-very-dark-gray-blue), var(--bg-very-dark-des-blue));
  z-index: 1;
}
.phones::before {
  background-image: url("data:image/svg+xml,%3Csvg width='1014' height='1018' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='matrix(1 0 0 -1 0 1018)' fill='none' fill-rule='evenodd'%3E%3Crect fill='%233E4062' x='213' y='214' width='588' height='590' rx='294'/%3E%3Crect stroke='%23878D92' opacity='.5' x='.5' y='.5' width='1013' height='1017' rx='506.5'/%3E%3Crect stroke='%23878D92' x='170.5' y='171.5' width='673' height='675' rx='336.5'/%3E%3C/g%3E%3C/svg%3E");
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: 75%;
  background-position: -82% 85%;
}

.phones-article {
  max-width: 32.8125rem;
  justify-self: flex-start;
}

.phones__images {
  position: relative;
  width: 100%;
  height: calc(100% + 7.5rem);
}
.phones__images::before {
  background-image: url("data:image/svg+xml,%3Csvg width='552' height='579' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cfilter x='-32.1%25' y='-11.5%25' width='164.2%25' height='132.2%25' filterUnits='objectBoundingBox' id='b'%3E%3CfeOffset dy='20' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur stdDeviation='20' in='shadowOffsetOuter1' result='shadowBlurOuter1'/%3E%3CfeColorMatrix values='0 0 0 0 0.421821759 0 0 0 0 0.554338424 0 0 0 0 0.893710371 0 0 0 0.243444056 0' in='shadowBlurOuter1'/%3E%3C/filter%3E%3Cfilter x='-21%25' y='-42.8%25' width='142%25' height='219.8%25' filterUnits='objectBoundingBox' id='e'%3E%3CfeOffset dy='10' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur stdDeviation='10' in='shadowOffsetOuter1' result='shadowBlurOuter1'/%3E%3CfeColorMatrix values='0 0 0 0 0.421821759 0 0 0 0 0.554338424 0 0 0 0 0.893710371 0 0 0 0.243444056 0' in='shadowBlurOuter1'/%3E%3C/filter%3E%3Cfilter x='-21%25' y='-42.8%25' width='142%25' height='219.8%25' filterUnits='objectBoundingBox' id='g'%3E%3CfeOffset dy='10' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur stdDeviation='10' in='shadowOffsetOuter1' result='shadowBlurOuter1'/%3E%3CfeColorMatrix values='0 0 0 0 0.421821759 0 0 0 0 0.554338424 0 0 0 0 0.893710371 0 0 0 0.243444056 0' in='shadowBlurOuter1'/%3E%3C/filter%3E%3Cfilter x='-21%25' y='-42.8%25' width='142%25' height='219.8%25' filterUnits='objectBoundingBox' id='i'%3E%3CfeOffset dy='10' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur stdDeviation='10' in='shadowOffsetOuter1' result='shadowBlurOuter1'/%3E%3CfeColorMatrix values='0 0 0 0 0.421821759 0 0 0 0 0.554338424 0 0 0 0 0.893710371 0 0 0 0.243444056 0' in='shadowBlurOuter1'/%3E%3C/filter%3E%3Cfilter x='-21%25' y='-42.8%25' width='142%25' height='219.8%25' filterUnits='objectBoundingBox' id='k'%3E%3CfeOffset dy='10' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur stdDeviation='10' in='shadowOffsetOuter1' result='shadowBlurOuter1'/%3E%3CfeColorMatrix values='0 0 0 0 0.421821759 0 0 0 0 0.554338424 0 0 0 0 0.893710371 0 0 0 0.243444056 0' in='shadowBlurOuter1'/%3E%3C/filter%3E%3Cfilter x='-21%25' y='-42.8%25' width='142%25' height='219.8%25' filterUnits='objectBoundingBox' id='m'%3E%3CfeOffset dy='10' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur stdDeviation='10' in='shadowOffsetOuter1' result='shadowBlurOuter1'/%3E%3CfeColorMatrix values='0 0 0 0 0.421821759 0 0 0 0 0.554338424 0 0 0 0 0.893710371 0 0 0 0.243444056 0' in='shadowBlurOuter1'/%3E%3C/filter%3E%3Cfilter x='-32.1%25' y='-11.5%25' width='164.2%25' height='132.2%25' filterUnits='objectBoundingBox' id='o'%3E%3CfeOffset dy='20' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur stdDeviation='20' in='shadowOffsetOuter1' result='shadowBlurOuter1'/%3E%3CfeColorMatrix values='0 0 0 0 0.421821759 0 0 0 0 0.554338424 0 0 0 0 0.893710371 0 0 0 0.243444056 0' in='shadowBlurOuter1'/%3E%3C/filter%3E%3Crect id='f' x='0' y='0' width='166.649' height='58.441' rx='4'/%3E%3Crect id='h' x='0' y='72.397' width='166.649' height='58.441' rx='4'/%3E%3Crect id='j' x='0' y='144.794' width='166.649' height='58.441' rx='4'/%3E%3Crect id='l' x='0' y='217.192' width='166.649' height='58.441' rx='4'/%3E%3Crect id='n' x='0' y='289.589' width='166.649' height='58.441' rx='4'/%3E%3ClinearGradient x1='38.371%25' y1='0%25' x2='61.629%25' y2='100%25' id='a'%3E%3Cstop stop-color='%23FF8F71' offset='0%25'/%3E%3Cstop stop-color='%23FF3E55' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='0%25' y1='42.512%25' x2='100%25' y2='57.488%25' id='d'%3E%3Cstop stop-color='%23FF8F71' offset='0%25'/%3E%3Cstop stop-color='%23FF3E55' offset='100%25'/%3E%3C/linearGradient%3E%3Cpath d='M204.442 401.894c0 10.587-7.815 19.708-18.398 19.708H35.126c-10.584 0-19.786-9.121-19.786-19.708V30.059c0-10.587 9.202-18.327 19.786-18.327h17.447c3.689 0 5.051-.422 5.275 4.255.116 2.43 1.007 4.318 2.435 5.881 1.426 1.534 3.39 2.794 5.646 3.501 1.531.48 3.236.914 4.861.914h79.751c1.626 0 3.33-.534 4.861-1.013 2.258-.707 4.22-1.887 5.647-3.392 1.428-1.535 2.319-3.344 2.434-5.773.223-4.676 1.587-4.373 5.276-4.373h17.285c10.583 0 18.398 7.74 18.398 18.327v371.835zM98.847 13.55h23.637c1.004 0 1.819.622 1.819 1.515 0 .893-.815 1.516-1.819 1.516H98.847c-1.005 0-1.818-.623-1.818-1.516s.813-1.515 1.818-1.515zm36.063.522a2.653 2.653 0 11-5.306 0 2.653 2.653 0 015.306 0zm81.048 84.968V31.254c0-17.144-13.893-31.042-31.032-31.042H34.148c-17.677 0-32.142 14.47-32.142 32.155v24.839a1.819 1.819 0 00-1.819 1.818v12.733a1.82 1.82 0 001.819 1.82v15.157a1.82 1.82 0 00-1.819 1.82v27.284a1.82 1.82 0 001.819 1.818v9.095a1.82 1.82 0 00-1.819 1.818v27.285a1.82 1.82 0 001.819 1.82V403.29c0 17.74 14.509 32.257 32.243 32.257h150.677c17.067 0 31.032-13.97 31.032-31.043v-255.14h.605a1.819 1.819 0 001.82-1.819v-46.685c0-1.005-.814-1.82-1.82-1.82h-.605z' id='c'/%3E%3Cpath d='M204.442 401.894c0 10.587-7.815 19.708-18.398 19.708H35.126c-10.584 0-19.786-9.121-19.786-19.708V30.059c0-10.587 9.202-18.327 19.786-18.327h17.447c3.689 0 5.051-.422 5.275 4.255.116 2.43 1.007 4.318 2.435 5.881 1.426 1.534 3.39 2.794 5.646 3.501 1.531.48 3.236.914 4.861.914h79.751c1.626 0 3.33-.534 4.861-1.013 2.258-.707 4.22-1.887 5.647-3.392 1.428-1.535 2.319-3.344 2.434-5.773.223-4.676 1.587-4.373 5.276-4.373h17.285c10.583 0 18.398 7.74 18.398 18.327v371.835zM98.847 13.55h23.637c1.004 0 1.819.622 1.819 1.515 0 .893-.815 1.516-1.819 1.516H98.847c-1.005 0-1.818-.623-1.818-1.516s.813-1.515 1.818-1.515zm36.063.522a2.653 2.653 0 11-5.306 0 2.653 2.653 0 015.306 0zm81.048 84.968V31.254c0-17.144-13.893-31.042-31.032-31.042H34.148c-17.677 0-32.142 14.47-32.142 32.155v24.839a1.819 1.819 0 00-1.819 1.818v12.733a1.82 1.82 0 001.819 1.82v15.157a1.82 1.82 0 00-1.819 1.82v27.284a1.82 1.82 0 001.819 1.818v9.095a1.82 1.82 0 00-1.819 1.818v27.285a1.82 1.82 0 001.819 1.82V403.29c0 17.74 14.509 32.257 32.243 32.257h150.677c17.067 0 31.032-13.97 31.032-31.043v-255.14h.605a1.819 1.819 0 001.82-1.819v-46.685c0-1.005-.814-1.82-1.82-1.82h-.605z' id='p'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(40 20)'%3E%3Crect fill='url(%23a)' x='8' y='5' width='204' height='423' rx='22'/%3E%3Cpath d='M65 227.56v-25.278h9.316c1.734 0 3.232.267 4.496.8 1.264.535 2.239 1.294 2.925 2.28.686.984 1.03 2.141 1.03 3.47 0 1.21-.266 2.273-.795 3.187a5.63 5.63 0 01-2.24 2.154c1.3.498 2.312 1.287 3.034 2.367s1.083 2.356 1.083 3.828c0 1.471-.385 2.74-1.155 3.809-.77 1.068-1.854 1.899-3.25 2.492s-3.045.89-4.947.89H65zm5.2-20.9v5.804h3.539c1.18 0 2.088-.243 2.726-.73.638-.487.957-1.205.957-2.154 0-.95-.32-1.673-.957-2.172-.638-.498-1.547-.747-2.726-.747h-3.54zm0 16.52h4.044c1.348 0 2.39-.285 3.124-.854.734-.57 1.101-1.389 1.101-2.457 0-1.068-.367-1.887-1.101-2.456-.735-.57-1.776-.855-3.124-.855H70.2v6.622zm16.863 4.38V201h5.056v26.56h-5.056zm18.272.533c-1.42 0-2.732-.249-3.936-.747a9.577 9.577 0 01-3.142-2.083 9.438 9.438 0 01-2.076-3.151c-.494-1.21-.74-2.528-.74-3.952s.252-2.735.758-3.934a9.78 9.78 0 012.112-3.15 9.594 9.594 0 013.178-2.101c1.216-.499 2.546-.748 3.99-.748 1.42 0 2.733.25 3.936.748a9.577 9.577 0 013.142 2.083 9.482 9.482 0 012.076 3.133c.494 1.198.74 2.51.74 3.934 0 1.424-.252 2.741-.758 3.951a9.73 9.73 0 01-2.112 3.169 9.594 9.594 0 01-3.178 2.1c-1.216.499-2.546.748-3.99.748zm.072-4.486c.915 0 1.733-.237 2.456-.712.722-.474 1.293-1.121 1.715-1.94.421-.819.632-1.75.632-2.795 0-1.044-.211-1.976-.632-2.795-.422-.818-.993-1.465-1.715-1.94-.723-.475-1.541-.712-2.456-.712s-1.733.237-2.455.712c-.723.475-1.294 1.122-1.716 1.94-.42.82-.632 1.75-.632 2.795s.211 1.976.632 2.795c.422.819.993 1.466 1.716 1.94.722.475 1.54.712 2.455.712zm21.124 3.418a8.081 8.081 0 01-3.376-.712 8.295 8.295 0 01-2.726-1.976 9.246 9.246 0 01-1.806-2.955c-.433-1.127-.65-2.344-.65-3.649 0-1.353.223-2.605.668-3.756a9.131 9.131 0 011.878-3.008 8.894 8.894 0 012.817-2.012c1.07-.486 2.232-.73 3.484-.73 1.228 0 2.335.244 3.322.73a6.447 6.447 0 012.456 2.118l.108-2.314h4.658v16.555c0 1.448-.234 2.765-.704 3.952a8.774 8.774 0 01-2.004 3.062 8.961 8.961 0 01-3.087 1.976c-1.192.463-2.51.694-3.954.694-1.42 0-2.697-.22-3.828-.659a9.174 9.174 0 01-2.961-1.833 8.656 8.656 0 01-1.986-2.742l4.839-1.174a4.737 4.737 0 001.679 1.62c.686.391 1.462.587 2.329.587.939 0 1.751-.208 2.437-.623a4.283 4.283 0 001.607-1.745c.385-.747.578-1.62.578-2.616v-1.531a6.795 6.795 0 01-2.474 2.011c-.999.487-2.1.73-3.304.73zm1.228-4.415c.89 0 1.68-.22 2.365-.658a4.816 4.816 0 001.643-1.78c.41-.748.614-1.596.614-2.546 0-.95-.204-1.798-.614-2.545a4.816 4.816 0 00-1.643-1.78c-.686-.44-1.474-.66-2.365-.66-.89 0-1.679.22-2.365.66a4.816 4.816 0 00-1.643 1.78c-.41.747-.614 1.596-.614 2.545 0 .95.205 1.798.614 2.546.41.747.957 1.34 1.643 1.78.686.439 1.474.658 2.365.658zm13.65 4.95V208.76h4.658l.18 2.848c.482-.996 1.132-1.762 1.95-2.296.819-.534 1.782-.801 2.89-.801.336 0 .673.03 1.01.089.337.06.638.137.903.231l-.542 4.914a3.86 3.86 0 00-.812-.196 6.647 6.647 0 00-.849-.054c-1.396 0-2.467.422-3.213 1.264-.747.843-1.12 2.035-1.12 3.578v9.221h-5.055z' fill='%23FFF' fill-rule='nonzero'/%3E%3Cuse fill='%23000' filter='url(%23b)' xlink:href='%23c'/%3E%3Cuse fill='%231D1D25' xlink:href='%23c'/%3E%3Cpath d='M122.484 13.55H98.847c-1.005 0-1.819.624-1.819 1.517 0 .892.814 1.515 1.82 1.515h23.636c1.005 0 1.82-.623 1.82-1.515 0-.893-.815-1.517-1.82-1.517M132.258 11.42a2.653 2.653 0 10.002 5.306 2.653 2.653 0 00-.002-5.306' fill='%23000'/%3E%3C/g%3E%3Cg transform='translate(293 83)'%3E%3Crect fill='url(%23a)' x='8' y='5' width='204' height='423' rx='22'/%3E%3Crect fill='%23FFF' x='15' y='11' width='189.335' height='414.321' rx='22'/%3E%3Crect fill='url(%23d)' x='15' y='11' width='189.335' height='73.269' rx='22'/%3E%3Cg transform='translate(26.343 57.23)'%3E%3Cuse fill='%23000' filter='url(%23e)' xlink:href='%23f'/%3E%3Cuse fill='%23FFF' xlink:href='%23f'/%3E%3C/g%3E%3Cg transform='translate(26.343 57.23)'%3E%3Cuse fill='%23000' filter='url(%23g)' xlink:href='%23h'/%3E%3Cuse fill='%23FFF' xlink:href='%23h'/%3E%3C/g%3E%3Cg transform='translate(26.343 57.23)'%3E%3Cuse fill='%23000' filter='url(%23i)' xlink:href='%23j'/%3E%3Cuse fill='%23FFF' xlink:href='%23j'/%3E%3C/g%3E%3Cg transform='translate(26.343 57.23)'%3E%3Cuse fill='%23000' filter='url(%23k)' xlink:href='%23l'/%3E%3Cuse fill='%23FFF' xlink:href='%23l'/%3E%3C/g%3E%3Cg transform='translate(26.343 57.23)'%3E%3Cuse fill='%23000' filter='url(%23m)' xlink:href='%23n'/%3E%3Cuse fill='%23FFF' xlink:href='%23n'/%3E%3C/g%3E%3Cpath d='M65 227.56v-25.278h9.316c1.734 0 3.232.267 4.496.8 1.264.535 2.239 1.294 2.925 2.28.686.984 1.03 2.141 1.03 3.47 0 1.21-.266 2.273-.795 3.187a5.63 5.63 0 01-2.24 2.154c1.3.498 2.312 1.287 3.034 2.367s1.083 2.356 1.083 3.828c0 1.471-.385 2.74-1.155 3.809-.77 1.068-1.854 1.899-3.25 2.492s-3.045.89-4.947.89H65zm5.2-20.9v5.804h3.539c1.18 0 2.088-.243 2.726-.73.638-.487.957-1.205.957-2.154 0-.95-.32-1.673-.957-2.172-.638-.498-1.547-.747-2.726-.747h-3.54zm0 16.52h4.044c1.348 0 2.39-.285 3.124-.854.734-.57 1.101-1.389 1.101-2.457 0-1.068-.367-1.887-1.101-2.456-.735-.57-1.776-.855-3.124-.855H70.2v6.622zm16.863 4.38V201h5.056v26.56h-5.056zm18.272.533c-1.42 0-2.732-.249-3.936-.747a9.577 9.577 0 01-3.142-2.083 9.438 9.438 0 01-2.076-3.151c-.494-1.21-.74-2.528-.74-3.952s.252-2.735.758-3.934a9.78 9.78 0 012.112-3.15 9.594 9.594 0 013.178-2.101c1.216-.499 2.546-.748 3.99-.748 1.42 0 2.733.25 3.936.748a9.577 9.577 0 013.142 2.083 9.482 9.482 0 012.076 3.133c.494 1.198.74 2.51.74 3.934 0 1.424-.252 2.741-.758 3.951a9.73 9.73 0 01-2.112 3.169 9.594 9.594 0 01-3.178 2.1c-1.216.499-2.546.748-3.99.748zm.072-4.486c.915 0 1.733-.237 2.456-.712.722-.474 1.293-1.121 1.715-1.94.421-.819.632-1.75.632-2.795 0-1.044-.211-1.976-.632-2.795-.422-.818-.993-1.465-1.715-1.94-.723-.475-1.541-.712-2.456-.712s-1.733.237-2.455.712c-.723.475-1.294 1.122-1.716 1.94-.42.82-.632 1.75-.632 2.795s.211 1.976.632 2.795c.422.819.993 1.466 1.716 1.94.722.475 1.54.712 2.455.712zm21.124 3.418a8.081 8.081 0 01-3.376-.712 8.295 8.295 0 01-2.726-1.976 9.246 9.246 0 01-1.806-2.955c-.433-1.127-.65-2.344-.65-3.649 0-1.353.223-2.605.668-3.756a9.131 9.131 0 011.878-3.008 8.894 8.894 0 012.817-2.012c1.07-.486 2.232-.73 3.484-.73 1.228 0 2.335.244 3.322.73a6.447 6.447 0 012.456 2.118l.108-2.314h4.658v16.555c0 1.448-.234 2.765-.704 3.952a8.774 8.774 0 01-2.004 3.062 8.961 8.961 0 01-3.087 1.976c-1.192.463-2.51.694-3.954.694-1.42 0-2.697-.22-3.828-.659a9.174 9.174 0 01-2.961-1.833 8.656 8.656 0 01-1.986-2.742l4.839-1.174a4.737 4.737 0 001.679 1.62c.686.391 1.462.587 2.329.587.939 0 1.751-.208 2.437-.623a4.283 4.283 0 001.607-1.745c.385-.747.578-1.62.578-2.616v-1.531a6.795 6.795 0 01-2.474 2.011c-.999.487-2.1.73-3.304.73zm1.228-4.415c.89 0 1.68-.22 2.365-.658a4.816 4.816 0 001.643-1.78c.41-.748.614-1.596.614-2.546 0-.95-.204-1.798-.614-2.545a4.816 4.816 0 00-1.643-1.78c-.686-.44-1.474-.66-2.365-.66-.89 0-1.679.22-2.365.66a4.816 4.816 0 00-1.643 1.78c-.41.747-.614 1.596-.614 2.545 0 .95.205 1.798.614 2.546.41.747.957 1.34 1.643 1.78.686.439 1.474.658 2.365.658zm13.65 4.95V208.76h4.658l.18 2.848c.482-.996 1.132-1.762 1.95-2.296.819-.534 1.782-.801 2.89-.801.336 0 .673.03 1.01.089.337.06.638.137.903.231l-.542 4.914a3.86 3.86 0 00-.812-.196 6.647 6.647 0 00-.849-.054c-1.396 0-2.467.422-3.213 1.264-.747.843-1.12 2.035-1.12 3.578v9.221h-5.055z' fill='%23FFF' fill-rule='nonzero'/%3E%3Cg%3E%3Cuse fill='%23000' filter='url(%23o)' xlink:href='%23p'/%3E%3Cuse fill='%231D1D25' xlink:href='%23p'/%3E%3Cpath d='M122.484 13.55H98.847c-1.005 0-1.819.624-1.819 1.517 0 .892.814 1.515 1.82 1.515h23.636c1.005 0 1.82-.623 1.82-1.515 0-.893-.815-1.517-1.82-1.517M132.258 11.42a2.653 2.653 0 10.002 5.306 2.653 2.653 0 00-.002-5.306' fill='%23000'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: auto;
  background-position: center -15px;
}

.laptop {
  height: 64.0625rem;
  position: relative;
  overflow: hidden;
}
.laptop__content {
  padding: 19.375rem 0;
  grid-template-columns: 1fr 1fr;
}
.laptop::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  background-image: url("data:image/svg+xml,%3Csvg width='974' height='786' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient x1='0%25' y1='27.97%25' x2='100%25' y2='72.03%25' id='c'%3E%3Cstop stop-color='%23FF8F71' offset='0%25'/%3E%3Cstop stop-color='%23FF3E55' offset='100%25'/%3E%3C/linearGradient%3E%3Cfilter x='-16.5%25' y='-28.5%25' width='132.9%25' height='157.1%25' filterUnits='objectBoundingBox' id='a'%3E%3CfeOffset dy='20' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur stdDeviation='20' in='shadowOffsetOuter1' result='shadowBlurOuter1'/%3E%3CfeColorMatrix values='0 0 0 0 0.421821759 0 0 0 0 0.554338424 0 0 0 0 0.893710371 0 0 0 0.243444056 0' in='shadowBlurOuter1' result='shadowMatrixOuter1'/%3E%3CfeMerge%3E%3CfeMergeNode in='shadowMatrixOuter1'/%3E%3CfeMergeNode in='SourceGraphic'/%3E%3C/feMerge%3E%3C/filter%3E%3Crect id='b' x='0' y='0' width='506' height='335.872' rx='3'/%3E%3Cpath d='M3 0h692.9a3 3 0 013 3v14.105H0V3a3 3 0 013-3z' id='e'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect stroke='%232D2E40' opacity='.5' transform='matrix(1 0 0 -1 0 786)' x='59.5' y='59.5' width='665' height='667' rx='332.5'/%3E%3Crect stroke='%232D2E40' opacity='.25' transform='matrix(1 0 0 -1 0 786)' x='.5' y='.5' width='783' height='785' rx='391.5'/%3E%3Crect fill='%232D2E40' opacity='.08' transform='matrix(1 0 0 -1 0 786)' x='117' y='117' width='550' height='552' rx='275'/%3E%3Cg transform='translate(190 192)' filter='url(%23a)'%3E%3Crect fill='%23535353' fill-rule='nonzero' x='82' y='16' width='538' height='368' rx='12'/%3E%3Crect fill='%231D1D25' fill-rule='nonzero' x='85' y='19' width='532' height='362' rx='10'/%3E%3Cg transform='translate(99 32)'%3E%3Cmask id='d' fill='%23fff'%3E%3Cuse xlink:href='%23b'/%3E%3C/mask%3E%3Cuse fill='url(%23c)' fill-rule='nonzero' xlink:href='%23b'/%3E%3Crect fill='%23F9F6F6' fill-rule='nonzero' mask='url(%23d)' x='-.325' y='60.293' width='506' height='275.838' rx='3'/%3E%3Cg mask='url(%23d)' fill-rule='nonzero'%3E%3Cg transform='translate(71.475 37.46)'%3E%3Crect fill='%23FFF' width='106.646' height='256.541' rx='3'/%3E%3Crect fill='%23FFF' x='124.798' width='238.251' height='256.541' rx='3'/%3E%3Crect fill='%23E7E7E7' x='135.009' y='13.622' width='217.83' height='60.162' rx='3'/%3E%3Crect fill='%23E7E7E7' x='135.009' y='86.27' width='64.668' height='60.162' rx='3'/%3E%3Crect fill='%23E7E7E7' x='215.561' y='86.27' width='137.278' height='60.162' rx='3'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg transform='translate(349)' fill='%234A5166' fill-rule='nonzero' opacity='.098'%3E%3Crect width='13.6' height='3' rx='1.5'/%3E%3Crect x='16.8' width='3.2' height='3' rx='1.5'/%3E%3C/g%3E%3Cg transform='translate(0 380)'%3E%3Cmask id='f' fill='%23fff'%3E%3Cuse xlink:href='%23e'/%3E%3C/mask%3E%3Cuse fill='%2352526F' fill-rule='nonzero' xlink:href='%23e'/%3E%3Crect fill='%232F2F47' fill-rule='nonzero' mask='url(%23f)' x='292.371' y='-41.908' width='114.156' height='52.171' rx='10'/%3E%3C/g%3E%3Cpath d='M0 397h699a6 6 0 01-6 6H6a6 6 0 01-6-6z' fill='%23393A56' fill-rule='nonzero'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 63%;
  background-position: left center;
  right: 18%;
}

.article-wrapper--laptop {
  margin-right: 10.3125rem;
  gap: 5.375rem;
}

.footer {
  height: 25rem;
  background: var(--very-dark-black-blue);
  border-top-right-radius: var(--b-radius);
}
.footer__nav {
  height: 100%;
  padding: 4.375rem 8.4375rem 0 10.3125rem;
  flex-wrap: wrap;
}
.footer__nav > *:not(.attribution) {
  flex: 1 0 auto;
}
.footer__col {
  gap: 2.5rem;
}

.col__title {
  margin-top: 0.625rem;
  color: var(--white);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.col__list {
  color: var(--grayish-blue);
  gap: 1.375rem;
}

.link {
  cursor: pointer;
  position: relative;
  font-family: "Ubuntu", sans-serif;
}
.link::before {
  content: "";
  width: 0;
  background: currentColor;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: width 0.3s ease, left 0.3s ease;
}
.link:hover::before {
  width: 100%;
  left: 0;
}
.link--menu {
  color: var(--very-dark-black-blue);
}
.link--menu:hover {
  font-weight: bold;
}
.link--menu::before {
  display: none;
}

.link-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 8.625rem;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  padding: 0.8rem 0;
  border-radius: 100px;
  transition: background 0.3s ease;
  font-weight: 700;
  background: var(--white);
  color: var(--very-light-red);
}
.link-button:hover {
  background: var(--very-light-red);
  color: var(--white);
}
.link-button--reverse {
  background: none;
  border: 1px solid var(--white);
  color: var(--white);
}
.link-button--reverse:hover {
  background: var(--white);
  color: var(--very-light-red);
}

.links-wrapper {
  position: relative;
  gap: 0.5rem;
  align-items: center;
}

.icon {
  fill: currentColor;
  transform: rotateZ(90deg);
  transition: transform 0.3s ease;
}
.icon--active {
  transform: rotateZ(-90deg);
}

.article__title {
  margin-bottom: 2.25rem;
  font-size: 1.7rem;
  color: var(--very-dark-blue);
}
.article__title--white {
  color: var(--white);
}

.article__text {
  letter-spacing: 0.034375rem;
  line-height: 1.7;
}
.article__text--white {
  color: var(--white);
}

.title {
  font-size: 2.3rem;
}

/*# sourceMappingURL=style.css.map */
